.layout {
  display: flex;
  gap: 0px 150px;
  flex-wrap: wrap;
}
.header-content {
  display: flex;
  
  gap: 0px 100px;
}

.header-status {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 70px;
  flex-wrap: wrap;
}

img {
  width: 500px;
  height: 751px;
}

.header-status p {
  padding-top: 10px;
}
.box{
  padding: 10px 15px 10px 15px;
  background-color: rgb(119, 175, 247);
  border-radius: 10px;
  margin-right: 10px;
  height: 20px;
  color: white;
}

.name-details {
  display: flex;
  gap: 0 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.name-details input{
  padding: 5px 100px 5px 100px;
}

.second-field {
  display: flex;
  gap: 0 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.second-field  #dob {
  width: 380px;
  padding: 5px 0px 5px 0px;
}

.second-field #email {
  padding: 5px 100px 5px 100px;
}

#address {
  padding: 5px 100px 5px 100px;
}

.next {
  display: flex;
  justify-content: end;
}

.next button {
  background-color: blue;
  color: white;
  border: none;
  padding: 15px 25px 15px 25px;
  border-radius: 5px;
}

.actual-sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* This is message*/

.message {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.options {
  display: flex;
  gap: 0px 20px;
  flex-wrap: wrap;
}

.message-footer {
  display: flex;
  justify-content: end;
}

.message-next button {
  background-color: blue;
  color: white;
  border: none;
  padding: 15px 25px 15px 25px;
  border-radius: 5px;
}

.message-back button {
  background-color: white;
  color: black;
  border: none;
  padding: 15px 25px 15px 25px;
  border-radius: 5px;
  font-weight: bolder;
}

.message textarea {
  width: 100%
}

.error {
  color: red;
  
}

.checkbox  .boy{
  width: 150px;
  height: 135px
}

.checkbox .girl {
  width: 150px;
  height: 135px
}

.image-container {
  display: flex;
  gap: 0px 100px;
  margin-bottom: 20px;
}

.girl-container {
  background-color: rgb(210, 203, 203);
  width: 20vw;
  height: 20vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boy-container{
  background-color: rgb(210, 203, 203);
  width: 20vw;
  height: 20vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#comp-opt-one {
  display: none;
}

#comp-opt-two {
  display: none;
}

.second-container {
  display: flex;
  flex-direction: column;
  gap: 10px 0px
}

#active {
  background-color: rgb(168, 125, 209);
}